.cart {
    margin: 25px 10px;
}

.cart .inTotal {
    color: rgb(212, 80, 80);
    font-size: 18px;
    font-weight: 600;
    padding: 3px;
    text-align: center;
    margin: 0px;
}

.cart h3 {
    text-align: center;
    color: #DEB887;
    background-color: black;
    margin: 0px;
    padding: 6px 0px;
    border-radius: 10px;
    cursor: default;
}
.review{
    width: 100%;
    margin-top: 5px;
}
.cart-summary-amount{
    display: flex;
    justify-content: space-between;
}
.cart-summary-amount .items{
    display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;
}